@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#comment h3{
  font-size:50%;
  margin:2px;
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*scrollbar*/
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track {
    border-radius:5px;
}
::-webkit-scrollbar-thumb {
    background-color:#444;
    border-radius: 5px;
}

body{
  font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
  /* padding-top: 75px; */
  background: #FFF;
  width: 100vw;
  height: 100vw;
}


/*
HEADER
*/

header {
  width: 100%;
  position: fixed;
}

.navbar {
  background-color: #f4f0e6;
  height: 70px;
  padding: 10px 0;
  padding-left: 1.5vw;
}

/* LOGO */

.nav-logo {
  height: 50px;
  width: 140px;
  border-radius: 5px;
}

.nav-img {
  background-color: #f4f0e6 ;
  width: 140px;
  height: 50px;
  margin: 0;
  border-radius: 5px;
}

/* SEARCH */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid ;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3b8686;
  background-color: #fff;
}

.searchTerm:focus{
  color: #3b8686;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #3b8686;
  background: #3b8686;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ICON */

/* .fas.fa-book-open,
.fas.fa-user-circle {
  padding-right: 5vw;

} */

.my-green {
  color: #3b8686;
  margin-right: 30px;

}


/* .nav-search {
  margin: 0;
  padding: 0;
}

.search-container{
  width: 20vw;
  height: 45px;
  display: inline-block;
  margin: 0;
  float: center;
}

input#search-bar{
  margin: 0;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 20px;
  display: inline-block;

}

input:focus{
border: 1px solid #008ABF;
transition: 0.35s ease;
color: #008ABF;
}

input:focus:-webkit-input-placeholder{
transition: opacity 0.45s ease;
opacity: 0;
}

input:focus:-moz-placeholder {
transition: opacity 0.45s ease;
opacity: 0;
}

input:-ms-placeholder {
transition: opacity 0.45s ease;
opacity: 0;
}


.search-icon{
  width: 100%;
  float: right;
  width: 45px;
  height: 45px;
  top: -45px;
  right: 0px;
  outline: 2px;
} */

/* .icon{
  padding: 40px 0;
} */


/*
Side-Navigation
*/


ul {
    list-style-type: none;
}

a {
    color: #b63b4d;
    text-decoration: none;
}


h2 {
    color: #4D4D4D;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
 }

h2 a {
    color: #c12c42;
    font-size: 16px;
 }


 /*
 Side Navigation
  */



.nav-container {
  position: fixed;
  top: 10vh;
  width: 25vw;
  /* display: flex; */
}

.side-nav {
  width: 100%;
  margin: 0;
}

.accordion {
  width: 100%;
  max-width: 360px;
  /* margin: 30px auto 20px; */
  background: #3b8686;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 15px;
  color: #f4f0e6;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #3b8686;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #f4f0e6;
}

.accordion li.open i {
  color: #f4f0e6;
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion li.default .submenu {
  display: block;
}

 .my-category {
   margin: 0 15px;
 }

 .my-dropdown {
   float: right;
   margin: 0 15px;
 }

/*
submenu
*/

.submenu {
  display: none;
  background: #79bd9a;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  /* text-align: center; */
}

.submenu a:hover {
  background: #a8dba8;
  color: #ffffff;
}

/*
Books
 */

 .book-container {
  padding: 10vh 0 0 28vw;
  display: flex;
  flex-wrap: wrap;
  /* width: 76vw; */
}

 .book {
     width: 20vw;
     height: 35vh;
     margin: 1vw;
     padding-top: 10px;

     align-content: stretch;
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 2px 5px #ccc;
 }


 .book img {
     width: 16vw;
     height: 16vw;
     margin: 0 2vw;
     object-fit: contain;
     /* width: 100%; */
     /*height: calc(100vh - 30px);
     /* object-fit: cover; */
     /*object-position: 50% 100%;*/
 }

 .book-tag {
     /* display: inline-block; */
     width: 100%;
     padding: 5px 20px;
 }

 .book-tag span {
     /* display: inline-block; */
     padding: 0.1vw 0.5vw;
     height: 1vw;
     font-size: 1.2vw;
     line-height: 1.5vw;
     border-radius: 1.5vw;
     text-align: center;

 }


 .book h2 {
     width: 100%;
     font-size: 1.5vw;
     line-height: 2vw;
 }


.book-img img {
    width: 16vw;
    height: 16vh;
    margin: 0 2vw;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    /* height: auto; */
}

.book-content {
  padding: 0;
  width: 100%;
}

.book-title {
  font-size: 20px;
  text-align: center;
  color: #333;
  margin: 10px 0;

}

img.book-pv-icon {
  width: 2.1vw;
  /* line-height: 2vw; */
  height: 20px;
  /* margin: 10px 0; */
}


.book-pv-num {
      font-weight: bold;
    padding-left: 2vw;
      width: 100%;
      font-size: 2vw;
      line-height: 2vw;
      color: #d50010;
      background-image: url(../img/note_icon.png);
      background-size: 2vw 2vw; /* 画像サイズ */
      background-repeat: no-repeat; /* 繰り返し表示オフ */
      box-sizing: border-box;
  }

.book h2 {
    width: 100%;
    font-size: 1.5vw;
    line-height: 2vw;
}

.book-link {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: center;
}

.book-link a {
  font-size: 14px;
  /* display: block; */
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.book-link a:hover {
  color: #0090aa;
}


/* 投稿フォーム */
#comment{
    position:absolute;
    top:0;
    right:0;
    display: inline-block;
    vertical-align: top;
    background: #00acc1;
    width: 30vw;
    height: 100vh;
}
#comment #time_line{
    display: inline-block;
    width: 90%;
    margin: 4vh 0 4vh 5%;
    height: 55vh;
    overflow-y: scroll;
}

#comment #time_line .tag_box{
    display: inline-block;
    width: 96%;
    margin: 1vh 0;
    padding: 2% 2vh;
    border-radius: 2vh;
    background: #FFFFFF;
}

#comment .f{
    width: 100%;
    height: 30vh;
}

#cover
{
  position:absolute;
  background-color:rgba(0,0,0,0.3);
  width: 100%;
  height: 50vh;
}

#comment .f textarea{
    background: #FFFFFF;
    width: 27vw;
    height: 18vh;
    margin: 0 0 2vh 5%;
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw;
    resize: none;
}
#comment #radio_category{
    width: 27vw;
    margin: 0 0 2vh 5%;
    height: 2.3vw;
    border: solid 1px #fff;
    border-radius: 1vw;
    overflow: hidden;
    font-size: 0;

}
#comment .f input[type="radio"] {
    display: none; /* ラジオボタンを非表示にする */
}
#comment .f input[type="radio"] + label {
    display: inline-block;
    color: #fff;
    font-size: 1.5vw;
    line-height: 2.3vw;
    width: 50%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    cursor: pointer;
}

#comment .f input[type="radio"]:checked + label {
    background: #ffffff;/* マウス選択時の背景色を指定する */
    color: #31A9EE; /* マウス選択時のフォント色を指定する */
    cursor: default;
}

#comment .f input[type="submit"]{
    background: #fff;
    color: #31A9EE; /* マウス選択時のフォント色を指定する */
    width: 90%;
    font-size: 1.5vw;
    line-height: 2.3vw;
    margin: 0 0 0 5%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
#comment .f input[type="submit"]:hover{
    opacity: 0.8;
}