* {
  box-sizing:border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#book {
  width: 70%;
  height: 100%;
  display: inline-block;
  background-color: yellow;
  position: relative;
}
iframe {
  width: 100%;
  height: 100%;
}
#bookContent {
  width: calc(210 * 100vh / 297);
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
#bookImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#comments{
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: red;
}

#toNext {
  width:10%;
  height: 100%;
  background-color: blueviolet;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

#toPrev {
  width:10%;
  height: 100%;
  background-color: blueviolet;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
}