html,body{
  width: 100%;
  height: 100%;
}
#canvas,#book{
  position: absolute;
  /* top:10%; */
  width: 100%;
  height: 90%;
}
#book {
  width: calc(210vh * 100 / 297);
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
#bookImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#canvas{
}
