<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/style.1.css">
</head>

<body style="width: 100vw;height: 100vh;overflow: hidden;">
  <div id="book">

  </div><div id="comment">

    <div id="time_line">
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          実は処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          実は処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
    </div>
    <form method="POST" action="/writer">

      <div id="radio_category">
        <input id="radio_category_memo" name="radio_category" value="memo" type="radio"checked>
        <label  for="radio_category_memo" class="radio-label">memo</label>

        <input id="radio_category_example" name="radio_category" value="example" type="radio">
        <label for="radio_category_example" class="radio-label">example</label>
      </div>

      <textarea name="memo_txt"></textarea>

      <input type="submit" value="submit" name="button">
    </form>
  </div>
</body>
</html>
