<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height" />

  <link rel="stylesheet" href="../static/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style.1.css">

</head>

<body>
  <!-- <nav>
    <div class="nav-wrapper">
      <a hre="#" class="brand-logo left">OTHLO</a>
    </div>
  </nav> -->

  <div id="book">
    <div id="toPrev"></div>
    <div id="bookContent">
      <div id="markerBoard"></div>
      <iframe src="../static/iframe/png.html" id="bookIFrame"></iframe>
    </div>
    <div id="toNext"></div>
  </div>


  <div id="comment">

    <div id="time_line">
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          実は処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          実は処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          処理もっと軽くできるよ。
        </p>
      </div>
      <div class="tag_box">
        <h3>ReE=Rishun</h3>
        <p>
          ここの処理もっと軽くできるよ。
        </p>
      </div>
    </div>
    <div id="cover"></div>
    <div class="f">
      <div id="radio_category">
        <input id="radio_category_memo" name="radio_category" value="memo" type="radio" checked>
        <label for="radio_category_memo" class="radio-label">memo</label>

        <input id="radio_category_example" name="radio_category" value="example" type="radio">
        <label for="radio_category_example" class="radio-label">example</label>
      </div>

      <textarea id="memo_txt" name="memo_txt"></textarea>

      <input id="submit" type="submit" value="submit" name="button">

    </div class="f">
  </div>

  <script src="../static/js/main.js"></script>
  <script src="../static/js/materialize.min.js"></script>
</body>

</html>